<p-card header="Taxas Atuais" class="mb-4">
  <div class="flex flex-column">
    <div class="md:flex-row flex-column flex gap-3 w-full">
      @for(currencyRate of currencyRateList(); track currencyRate.id) {
        <wefin-current-rates-information-card
          [currentRate]="currencyRate"
          (edit)="showEditDialog($event)"
          data-testid="current-rates-information-card"
        />
      }

      @if(isLoading()) {
        <div class="w-full">
          <p-skeleton data-testid="current-rates-information-skeleton" width="100%" height="128px" />
         </div>
        <div class="w-full">
          <p-skeleton data-testid="current-rates-information-skeleton" width="100%" height="128px" />
        </div>
      }
    </div>
  </div>
</p-card>